
.container.text-center
  = image_tag(@coordinate.image, class: 'mt-5 mb-4 img-fluid', size: 19*19)
  - if @coordinate.user.id != current_user.id 
    = form_for @coordinate, html: {class: 'text-center'} do |f|
      .feild.text-center
        %input{type: 'range',value: '5', min: '1',max: '10', name: 'add_point'}
      .action.mt-3
        = f.submit "Send", class: 'btn btn-outline-primary'
  - else
    = link_to "Delete",coordinate_path(@coordinate.id), method: :delete, class: "btn btn-outline-primary d-block w-25 mx-auto"