
// ヘッダー

.logo{
  letter-spacing: 0.1rem;
  &:hover{
    text-decoration: none;
  }
}

.space-top{
  margin-top: 70px;
}

// トップページ

.card-deck1{
  height: 29rem;
}

.card-deck2{
  height: 45rem;
}

// トップページとマイページ

.info-box{
  bottom: 2vh;
  right: 1vw;
  opacity: 0.6;
}

//sign in ページ
.form-container{
  height: 72vh;
  max-width: 330px;
}