
// ヘッダー

.logo{
  letter-spacing: 0.1rem;
  &:hover{
    text-decoration: none;
  }
}

.space-top{
  margin-top: 70px;
}

// トップページ

.card-deck1{
  height: 29rem;
}

.card-deck2{
  height: 45rem;
}

.fa-heart{
  font-size: 1.8rem;
  cursor: pointer;
}

.liked{
  color: red;
}

.average{
  font-size: 1.8rem;
}

// トップページとマイページ

.info-box{
  bottom: 2vh;
  right: 1vw;
  opacity: 0.6;
  width: 32%;
}

button:focus{
  outline: 0;
}

button{
  background-color: transparent;
}

//sign in ページ
.form-container{
  height: 72vh;
  max-width: 330px;
}

